body {
    font-family: 'Spartan', sans-serif;
    padding-bottom: 0;

    .navContainer {
        z-index: 999;
        width: 100%;
        position: absolute;
        transform: translateX(-130%);
        transition-timing-function: ease-in;
        background-color: white;
        transition: 1s;
        
        .searchbarContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 92%;
            padding: 5px 20px;
            margin: 0 4%;
            border-bottom: 1px solid #7f8375;

            .searchIcon {
                background-image: url("../public/assets/searchicon.png");
                background-color: #cccccc;
                height: 30px;
                width: 30px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .inputsearch {
                width: 100%;
                border: none;

                background: white;
                padding: 20px 0 10px 40px;

            }
        }

        .about, .signIn, .menWomen {
            width: 90%;
            margin: 50px auto;
            padding: 0;
            
            .freeShipping {
                width: 35%;
                margin-bottom: 40px;
                font-weight: bold;
            }

            // display: none;

            .fat {
                font-weight: bold;
            }
            .bottom {
                margin-bottom: 30px;
            }

            li {
                list-style: none;
                padding: 5px;
                color: #7f8375;
                text-decoration: none;

                a {
                    color: #7f8375;
                    text-decoration: none;

                }

                :hover {
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .menWomen {
            border-bottom: 1px solid #7f8375;
            width: 92%;
            padding-bottom: 50px;
            // margin: 0 4%;
        }
    }
    .navShow {
    
        transition: 1s;
        transform: translateX(0%);
        transition-timing-function: ease-out;
    }

    .burgerContainer {
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        background-color: bisque;

        .hambutton {
            border: none;
            background: bisque;
        }
    }

    nav.active {
        left: 0px;
    }

    .close {
        cursor: pointer;
        transform: rotate(45deg);
    }

}
