body {
    font-family: 'Spartan', sans-serif;

    nav {
        width: 100%;
        background: rgb(247, 247, 247);
        z-index: 1;
        position: fixed;
        float: left;
        overflow: hidden;
        transition: all 500ms linear;

        .search {
            width: 100%;
            padding: 10px;

            .inputsearch {
                width: 90%;
                border: none;
                border-bottom: 1px solid #7f8375;
                background: rgb(247, 247, 247);
            }
        }


        ul {
            width: 80%;
            margin: 0 auto;
            padding: 0;
            // display: none;

            li {
                list-style: none;
                padding: 5px;
                color: #7f8375;
                text-decoration: none;

                a {
                    color: #7f8375;
                    text-decoration: none;

                }

                :hover {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }

    .toggle {
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        background-color: bisque;

        .hambutton {
            border: none;
            background: bisque;
        }
    }

    nav.active {
        left: 0px;
    }

    .close {
        cursor: pointer;
        transform: rotate(45deg);
    }
}

// footer

.container-fluid {
    background-color: #7f8375;
    color: white;
    font-family: 'Spartan', sans-serif;


    li {
        list-style-type: none;
        font-weight: 1px;

    }

}