.container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    margin-bottom: 30%;
    text-align: center;

    @include tablet {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    button {
        @include tablet{
            width: 300px;
        }
    }
}