<%- include ("partial/header") %>
<%- include ("partial/navbar") %>
<%- include ("partial/tothetop") %>

<body>
    <div class="container-fluid-login">
        <div class="gecko-login">
        <h2>Welcome to Gecko! Log in here</h2>
        <form action="/login" method="POST">
            <div>
                <input type="email" name="loginEmail" placeholder="Email">
                <input type="password" name="loginPassword" placeholder="Password">
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>

        <div>
            <h3>Forgot password? <a href="/reset">Send new</a></h3>
        </div>

        <h3>Don´t have an account? <a href="/register">Register here!</a></h3>
        </div>
    </div>


    <%- include ("partial/footer") %>
</body>

</html>