<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>Log in</h2>
    <form action="/login" method="POST">
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <button type="submit">Log in</button>
    </form>

<<<<<<< HEAD
=======
    <h3>Forgot password? </h3>
    <a href="/reset">Send new</a>

>>>>>>> e0c86e0dcc829f2e71cd414b7f38827af3e28393
    <h4><a href="/loginadmin">Log in as Admin</a></h4>

    <h4><a href="/register">Don´t have an account?</a></h4>



</body>

</html>