<%- include ("partial/header.ejs") %>
<%- include ("partial/navbar") %>
<%- include ("partial/tothetop") %>


<span>You are not authorized, man! log the fuck in <a href="/login"></a></span>

<%- include ("partial/footer") %>