<%- include ("partial/header.ejs") %>
<%- include ("partial/navbar") %>
<%- include ("partial/logout") %>

<span>You are not authorized, man! log the fuck in <a href="/login"></a></span>

<%- include ("partial/footer") %>