<h2>Register</h2>
<form action="/register" method="post">

    <input type="text" name="firstName">

    <input type="text" name="surName">

    <input type="email" name="email">
    
    <input type="password" name="password">
    <button type="submit">Register</button>
</form>