<!DOCTYPE html>
<html lang="en">
<%- include ("partial/header.ejs") %>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="subscribebox">
                SUBSCRIBE FOR 10% OFF
            </div>
            <%- include ("partial/navbar.ejs") %>

            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>


    <%= newArrivals %>

</body>
<%- include ("partial/footer.ejs") %>

</html>