@import url("https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap");
body {
  padding-bottom: 0; }
  body div {
    font-family: 'Spartan', sans-serif; }
  body .nav {
    z-index: 999;
    width: 100%;
    position: absolute;
    transform: translateX(-130%);
    transition-timing-function: ease-in;
    background-color: white;
    transition: 1s; }
    body .nav .search {
      width: 100%;
      padding: 10px; }
      body .nav .search .inputsearch {
        width: 90%;
        border: none;
        border-bottom: 1px solid #7f8375;
        background: #f7f7f7; }
    body .nav ul {
      width: 80%;
      margin: 0 auto;
      padding: 0; }
      body .nav ul li {
        list-style: none;
        padding: 5px;
        color: #7f8375;
        text-decoration: none; }
        body .nav ul li a {
          color: #7f8375;
          text-decoration: none; }
        body .nav ul li :hover {
          color: black;
          text-decoration: none; }
  body .navShow {
    transition: 1s;
    transform: translateX(0%);
    transition-timing-function: ease-out; }
  body .toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    background-color: bisque; }
    body .toggle .hambutton {
      border: none;
      background: bisque; }
  body nav.active {
    left: 0px; }
  body .close {
    cursor: pointer;
    transform: rotate(45deg); }

.container-fluid #subscribebox {
  background-color: #7f8375;
  color: white;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  padding: 8px;
  font-weight: 100;
  font-size: 80%; }

body {
  text-transform: uppercase; }
  body div {
    font-family: 'Spartan', sans-serif;
    letter-spacing: 2px; }
  body .categoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 50px 0; }
    body .categoryContainer .categoryContainerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px; }
      body .categoryContainer .categoryContainerHeader h2 {
        font-size: 2rem; }
    body .categoryContainer .categoryContainerButtons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      height: 80px;
      border-bottom: 1px solid #cecece; }
      body .categoryContainer .categoryContainerButtons p {
        width: 50%;
        text-align: center; }
        body .categoryContainer .categoryContainerButtons p a:link {
          color: inherit; }
        body .categoryContainer .categoryContainerButtons p a:visited {
          color: inherit; }
  body .productContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2% 50px 2%; }
    body .productContainer .product {
      width: 46%;
      margin: 0 2% 20px 2%; }
      body .productContainer .product .productImage img {
        width: 100%; }
      body .productContainer .product .productInfo {
        margin-top: 10px;
        font-size: 0.7rem; }
        body .productContainer .product .productInfo .productTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
          body .productContainer .product .productInfo .productTitle .title {
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          body .productContainer .product .productInfo .productTitle .colors {
            width: 20%;
            text-align: right; }
        body .productContainer .product .productInfo .productPrice {
          width: 100%; }
          body .productContainer .product .productInfo .productPrice .price {
            font-weight: 700;
            font-size: 80%; }
      @media (min-width: 820px) {
        body .productContainer .product {
          width: 30.33%;
          margin: 0 1.5% 20px 1.5%; } }

body #sticky-footer {
  padding: 0px;
  margin-top: 10px; }
  body #sticky-footer .myFooter {
    background-color: #7f8375;
    color: white;
    letter-spacing: 3px;
    padding-top: 70px;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    body #sticky-footer .myFooter li {
      list-style-type: none;
      padding: 5px;
      justify-content: left;
      font-size: 13px;
      font-weight: 100; }
    body #sticky-footer .myFooter ul {
      padding-left: 2px; }
    body #sticky-footer .myFooter .information {
      padding-left: 2px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700; }
    body #sticky-footer .myFooter .line {
      border: 0.4px solid white;
      opacity: 50%; }
