body {
  font-family: sans-serif; }
  body .nav {
    z-index: 999;
    width: 100%;
    position: absolute;
    transform: translateX(-130%);
    transition-timing-function: ease-in;
    background-color: white;
    transition: 1s; }
    body .nav .search {
      width: 100%;
      padding: 10px; }
      body .nav .search .inputsearch {
        width: 90%;
        border: none;
        border-bottom: 1px solid #7f8375;
        background: #f7f7f7; }
    body .nav ul {
      width: 80%;
      margin: 0 auto;
      padding: 0; }
      body .nav ul li {
        list-style: none;
        padding: 5px;
        color: #7f8375;
        text-decoration: none; }
        body .nav ul li a {
          color: #7f8375;
          text-decoration: none; }
        body .nav ul li :hover {
          color: black;
          text-decoration: none; }
  body .navShow {
    transition: 1s;
    transform: translateX(0%);
    transition-timing-function: ease-out; }
  body .toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    background-color: bisque; }
    body .toggle .hambutton {
      border: none;
      background: bisque; }
  body nav.active {
    left: 0px; }
  body .close {
    cursor: pointer;
    transform: rotate(45deg); }

.container-fluid {
  background-color: #7f8375;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .container-fluid li {
    list-style-type: none; }

.container-fluid #subscribebox {
  background-color: #7f8375;
  color: white;
  text-align: center;
  font-family: "spartan";
  padding: 8px; }
