@import url("https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap");
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%; }
  body footer {
    background: #7f8375;
    color: white;
    margin-top: auto;
    opacity: 80%;
    padding-top: 50px;
    letter-spacing: 3px; }
  body .information {
    font-size: 67%;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px; }
  body li {
    font-weight: 100;
    font-size: 85%;
    list-style-type: none;
    justify-content: left; }
  body ul {
    padding: 5px; }
  body .footerline {
    border: 0.4px solid white;
    opacity: 50%; }
  body #icon-box {
    background-color: #CECFCC;
    justify-content: center;
    color: white;
    padding-top: 10px; }
    body #icon-box #icon-link {
      text-align: end;
      margin: auto;
      padding: 0; }
    body #icon-box #brand {
      text-transform: uppercase;
      margin: auto;
      font-weight: bold; }
    body #icon-box p {
      font-size: 10px;
      font-weight: 100; }
  body #f-menu3 {
    text-align: center; }
  body .sign-up-wrapper {
    display: inline-block;
    width: 300px;
    padding: 30px;
    padding-bottom: 70px; }
  body h4 {
    text-transform: uppercase;
    font-size: 140%;
    font-weight: 800;
    letter-spacing: 3px; }
  body .sign-up {
    width: 100%;
    height: 45px;
    font-weight: 100;
    font-size: 14px; }
  body #subscribe {
    background-color: #7f8375;
    color: white;
    font-weight: 100; }
  body p {
    text-align: center;
    margin: 16px 16px;
    font-weight: 100; }

.opacity-cover {
  background-color: white;
  opacity: 60%;
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%; }

body {
  font-family: 'Spartan', sans-serif;
  padding-bottom: 0; }
  body .nav-container {
    z-index: 999;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 35px;
    transform: translateX(-130%);
    transition-timing-function: ease-in;
    background-color: white;
    transition: 1s;
    margin-top: 50px; }
    body .nav-container .searchbar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92%;
      padding: 5px 20px;
      margin: 0 4%;
      border-bottom: 1px solid #7f8375; }
      body .nav-container .searchbar-container .search-icon {
        background-image: url("../public/assets/searchicon.png");
        background-color: #cccccc;
        height: 30px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      body .nav-container .searchbar-container .input-search {
        width: 100%;
        border: none;
        background: white;
        padding: 20px 0 10px 40px; }
    body .nav-container .about, body .nav-container .sign-in, body .nav-container .men-women {
      width: 90%;
      margin: 50px auto;
      padding: 0; }
      body .nav-container .about .free-shipping, body .nav-container .sign-in .free-shipping, body .nav-container .men-women .free-shipping {
        width: 35%;
        margin-bottom: 40px;
        font-weight: bold; }
      body .nav-container .about .fat, body .nav-container .sign-in .fat, body .nav-container .men-women .fat {
        font-weight: bold; }
      body .nav-container .about .bottom, body .nav-container .sign-in .bottom, body .nav-container .men-women .bottom {
        margin-bottom: 30px; }
      body .nav-container .about li, body .nav-container .sign-in li, body .nav-container .men-women li {
        list-style: none;
        padding: 5px;
        color: #7f8375;
        text-decoration: none; }
        body .nav-container .about li a, body .nav-container .sign-in li a, body .nav-container .men-women li a {
          color: #7f8375;
          text-decoration: none; }
        body .nav-container .about li :hover, body .nav-container .sign-in li :hover, body .nav-container .men-women li :hover {
          color: black;
          text-decoration: none; }
    body .nav-container .men-women {
      border-bottom: 1px solid #7f8375;
      width: 92%;
      padding-bottom: 50px; }
  body .nav-show {
    transition: 1s;
    transform: translateX(0%);
    transition-timing-function: ease-out; }
    @media (min-width: 820px) {
      body .nav-show {
        width: 70%; } }
    @media (min-width: 1200px) {
      body .nav-show {
        width: 50%; } }
  body .burger-container {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    z-index: 1000; }
    body .burger-container .hamburger-button {
      border: none;
      background: white;
      margin-top: 18px; }

.container-fluid #subscribebox {
  background-color: #7f8375;
  color: white;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  padding: 8px;
  font-weight: 100;
  font-size: 80%; }

.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .scrolling-wrapper .scroll-items {
    display: inline-block; }
    .scrolling-wrapper .scroll-items .product-image {
      width: 45vw;
      margin: 10px; }
      .scrolling-wrapper .scroll-items .product-image img {
        width: 100%; }

.create-new-product-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96%;
  margin: 20px 2%;
  border-bottom: 1px solid #CECFCC; }
  .create-new-product-form .create-new-product-form-header {
    width: 100%; }
    .create-new-product-form .create-new-product-form-header h2 {
      text-align: center;
      margin: 0 0 20px 0; }
  .create-new-product-form form {
    width: 60%;
    margin: 0 0 40px 0; }
    .create-new-product-form form .form-check {
      width: 100%;
      padding: 0; }
      .create-new-product-form form .form-check input {
        margin-left: 10px; }
      .create-new-product-form form .form-check input:checked {
        color: #7f8375;
        background-color: #7f8375; }
    .create-new-product-form form .form-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .create-new-product-form form .form-button-container button {
        margin: 10px 0;
        background-color: #7f8375;
        border-color: white; }

.all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 96%;
  margin: 30px 2%; }
  .all-products .all-products-header {
    width: 100%; }
    .all-products .all-products-header h2 {
      text-align: center;
      margin: 20px 0; }
  .all-products .hide-product {
    height: 300px;
    overflow: hidden; }
  .all-products .product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 44%;
    border: 1px solid #CECFCC;
    border-radius: 5px;
    margin-bottom: 20px; }
    @media (min-width: 820px) {
      .all-products .product {
        width: 30%; } }
    @media (min-width: 1200px) {
      .all-products .product {
        width: 23%; } }
    .all-products .product .admin-image-container {
      width: 100%; }
      .all-products .product .admin-image-container img {
        width: 40%;
        margin: 16px 0 0 16px;
        border: 1px solid #CECFCC; }
    .all-products .product p {
      text-align: left;
      font-weight: 400; }
      .all-products .product p .text-input {
        width: 100%;
        font-weight: 200; }
    .all-products .product .edit-product-button-container {
      text-align: center; }
      .all-products .product .edit-product-button-container button {
        background-color: #7f8375;
        border-color: white; }

#productPage {
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase; }
  #productPage .categoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 50px 0; }
    #productPage .categoryContainer .categoryContainerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px; }
      #productPage .categoryContainer .categoryContainerHeader h2 {
        font-size: 2rem; }
    #productPage .categoryContainer .categoryContainerButtons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      height: 80px;
      border-bottom: 1px solid #cecece; }
      #productPage .categoryContainer .categoryContainerButtons p {
        width: 50%;
        text-align: center; }
        #productPage .categoryContainer .categoryContainerButtons p a:link {
          color: inherit; }
        #productPage .categoryContainer .categoryContainerButtons p a:visited {
          color: inherit; }
  #productPage .productContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2% 50px 2%; }
    #productPage .productContainer .product {
      width: 46%;
      margin: 0 2% 20px 2%; }
      #productPage .productContainer .product .productImage img {
        width: 100%; }
      #productPage .productContainer .product .productInfo {
        margin-top: 10px;
        font-size: 0.7rem; }
        #productPage .productContainer .product .productInfo .productTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
          #productPage .productContainer .product .productInfo .productTitle .title {
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          #productPage .productContainer .product .productInfo .productTitle .colors {
            width: 20%;
            text-align: right; }
        #productPage .productContainer .product .productInfo .productPrice {
          width: 100%; }
          #productPage .productContainer .product .productInfo .productPrice .price {
            font-weight: 700;
            font-size: 80%; }
      @media (min-width: 820px) {
        #productPage .productContainer .product {
          width: 30.33%;
          margin: 0 1.5% 20px 1.5%; } }

#detail-product-page {
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #detail-product-page button {
    text-transform: uppercase;
    font-size: 0.7rem; }
  #detail-product-page #image-div-mobile {
    display: flex;
    justify-content: center;
    width: 100%; }
    #detail-product-page #image-div-mobile .image-container {
      max-width: 1000px;
      max-height: 800px; }
      #detail-product-page #image-div-mobile .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    @media (min-width: 820px) {
      #detail-product-page #image-div-mobile {
        display: none; } }
  #detail-product-page #image-div-desktop {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 5px 0 5px 0; }
    #detail-product-page #image-div-desktop .image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 4px 0; }
      #detail-product-page #image-div-desktop .image-container img {
        width: 90%; }
    @media (min-width: 820px) {
      #detail-product-page #image-div-desktop {
        display: flex; } }
  #detail-product-page #info-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 94%;
    margin: 0 3%; }
    @media (min-width: 820px) {
      #detail-product-page #info-div {
        position: -webkit-sticky;
        position: sticky;
        width: 40%;
        top: 120px;
        margin: 0 5%; } }
    #detail-product-page #info-div .desktop-title-price {
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.9rem; }
      #detail-product-page #info-div .desktop-title-price .desktop-price {
        font-weight: 600;
        font-size: 0.7rem; }
      @media (min-width: 820px) {
        #detail-product-page #info-div .desktop-title-price {
          display: flex; } }
    #detail-product-page #info-div .fabric-container {
      width: 100%;
      text-align: center;
      margin: 30px 0 0 0; }
      @media (min-width: 820px) {
        #detail-product-page #info-div .fabric-container {
          text-align: left; } }
      #detail-product-page #info-div .fabric-container span {
        font-size: 0.6rem;
        color: #C5C7CE; }
    #detail-product-page #info-div .color-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 60px;
      margin: 30px 0 0 0; }
      @media (min-width: 820px) {
        #detail-product-page #info-div .color-container {
          justify-content: flex-start; } }
      #detail-product-page #info-div .color-container .color-header {
        font-size: 0.7rem;
        margin-bottom: 10px; }
      #detail-product-page #info-div .color-container .color-picker {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        background-color: white;
        border-color: #e1e1e1; }
        #detail-product-page #info-div .color-container .color-picker span {
          font-size: 0.6rem; }
    #detail-product-page #info-div .size-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin: 40px 0; }
      @media (min-width: 820px) {
        #detail-product-page #info-div .size-container {
          justify-content: flex-start; } }
      #detail-product-page #info-div .size-container .size-header {
        width: 100%;
        text-align: center;
        margin: 15px 0;
        font-size: 0.8rem; }
        @media (min-width: 820px) {
          #detail-product-page #info-div .size-container .size-header {
            text-align: left; } }
      #detail-product-page #info-div .size-container button {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        background-color: white;
        border-color: #e1e1e1; }
        @media (min-width: 820px) {
          #detail-product-page #info-div .size-container button {
            margin: 0 10px 0 0; } }
    #detail-product-page #info-div .desktop-bag {
      display: none;
      justify-content: space-between;
      width: 100%;
      height: 60px; }
      @media (min-width: 820px) {
        #detail-product-page #info-div .desktop-bag {
          display: flex; } }
      #detail-product-page #info-div .desktop-bag button {
        width: 100%;
        height: 40px;
        margin: 20px 0 0 0;
        border-color: #e1e1e1;
        background-color: #7f8375;
        color: white; }
    #detail-product-page #info-div .product-description {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 20px 0 30px 0; }
      #detail-product-page #info-div .product-description .description-header div {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        font-size: 0.7rem; }
        @media (min-width: 820px) {
          #detail-product-page #info-div .product-description .description-header div {
            text-align: left; } }
        #detail-product-page #info-div .product-description .description-header div span {
          text-decoration: underline; }
      #detail-product-page #info-div .product-description .description {
        padding: 2% 10%;
        font-size: 0.6rem; }
        @media (min-width: 820px) {
          #detail-product-page #info-div .product-description .description {
            padding: 2% 20% 2% 0; } }
  #detail-product-page .mobile-sticky {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    padding: 0 10px;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    left: 0; }
    @media (min-width: 820px) {
      #detail-product-page .mobile-sticky {
        display: none; } }
    #detail-product-page .mobile-sticky .info-title-price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 10px 0; }
      #detail-product-page .mobile-sticky .info-title-price-container span {
        width: 100%;
        font-size: 0.8rem; }
      #detail-product-page .mobile-sticky .info-title-price-container .price {
        text-align: end;
        font-size: 0.7rem;
        font-weight: 500; }
      @media (min-width: 820px) {
        #detail-product-page .mobile-sticky .info-title-price-container {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0 0 20px 0; } }
    #detail-product-page .mobile-sticky .buttons-about-bag-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px; }
      #detail-product-page .mobile-sticky .buttons-about-bag-container button {
        width: 48%;
        height: 40px;
        border-color: #e1e1e1; }
      #detail-product-page .mobile-sticky .buttons-about-bag-container .choose-size {
        background-color: white; }
      #detail-product-page .mobile-sticky .buttons-about-bag-container .add-to-bag {
        background-color: #7f8375;
        color: white; }
    @media (min-width: 820px) {
      #detail-product-page .mobile-sticky {
        position: relative; } }
