.container-fluid {

    .row {

        button {
            border: none;

            .hamburger {
                width: 30px;
                margin: 7px 0px 7px 0px;
                border-bottom: 1px solid;

            }
        }

    }

}