<div class="col-12" id="f-menu3">
  <hr>
  <div class="sign-up-wrapper">
    <h4>Gecko club</h4>
    <span>Sign up for news, offers and curated content. Enjoy 10% off your first purchase.</span>
    <form>
      <input class="sign-up" placeholder="Your E-mail" type="email">
      <button type="button" class="btn mt-2" id="subscribe" data-toggle="modal"
        data-target="#exampleModal">Submit</button>
    </form>
  </div>
</div>

<!-- Sign up modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>Thank you for signing up! Check your email for the discount code.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<footer>
  <div class="container-fluid-myfooter">
    <div class="informationbox">
      <div class="col-sm-12">
        <div class="informationlist">
          <h2 class="information">Information</h2>
          <hr class="footerline">
          <ul>
            <li>About GECKO</li>
            <li class="footerlogin"><a href="/login">Sign in</a></li>
            <li>Customer service</li>
            <li>Careers</li>
            <li>Press</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="accountlist">
          <ul>
            <li class="footerlogin"><a href="/myaccount" >My account</a></li>
            <li>Privacy policy</li>
            <li>Shipping to: Worldwide</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-between pt-4 pb-2" id="icon-box">
      <div class="col-6" id="brand">
        <p> &copy; Gecko AB</p>
      </div>
      <div class="col-6 pr-3" id="icon-link">
        <ul>
          <li href="https://sv-se.facebook.com/" class="fab fa-facebook-f" role="button"></li>
          <li href="https://instagram.com/" class="fab fa-instagram" role="button"></li>
          <li href="https://www.pinterest.se//" class="fab fa-pinterest-p" role="button"></li>
          <li href="https://www.twitter.com" class="fab fa-twitter" role="button"></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>