<div class="container-fluid-first p-0">
        <div class="row">
            <div class="col-12" id="subscribebox">
                subscribe for 10% off
            </div>
        </div>
</div>

<div class="burger-container">
    <div class="burgerandsearch">
        <button type="button" class="hamburger-button"><i class="fas fa-bars fa-lg menu"
                aria-hidden="true"></i></button>
        <div class="search-icon"></div>
    </div>

    <a href="/"><div class="logo"></div></a>

    <div class="wishlistandcart">
        <div class="wishlist"></div>
        <a href="/checkout"><div class="cart"></div></a>
    </div>
</div>


<nav class="nav-container">

    <!-- <hr> -->
    <ul class="men-women">
        <li class="fat bottom"><a href="/products">Shop all </a></li>
        <li class="fat"><a href="/women">Women</a></li>
        <li><a href="/women">T-Shirts</a></li>
        <li><a href="/women">Crewnecks</a></li>
        <li><a href="/women">Hoodies</a></li>

        <li class="fat"><a href="/men">Men</a></li>
        <li><a href="/men">T-Shirts</a></li>
        <li><a href="/men">Crewnecks</a></li>
        <li><a href="/men">Hoodies</a></li>

    </ul>



    <ul class="about">
        <li class="free-shipping">Free shipping on orders over 990 sek, and free returns</li>

        <li><a href="/products">Subcribe</a></li>
        <li><a href="/products">Store Locator</a></li>
        <li><a href="/products">Customer Service</a></li>
    </ul>

    <ul class="sign-in">
        <li><a href="/login">Sign in</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/register">Don't have an account? Register here</a></li>
        <li><a href="/products">Shipping to: Worldwide</a></li>
    </ul>
</nav>
<div class="cover">

</div>