<div class="burger-container">
    <button type="button" class="hamburger-button"><i class="fas fa-bars fa-2x menu" aria-hidden="true"></i></button>
</div>
<nav class="nav-container">
    <div class="searchbar-container">
        <div class="search-icon"></div>

    <input type="text" class="input-search" placeholder="Search Products">
    <!-- <hr> -->
    </div>
    <!-- <hr> -->
    <ul class="men-women">
        <li class="fat bottom"><a href="#">Shop all </a></li>
        <li class="fat"><a href="#">Women</a></li>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Crewnecks</a></li>
        <li><a href="#">Hoodies</a></li>
        
        <li class="fat"><a href="#">Men</a></li>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Crewnecks</a></li>
        <li><a href="#">Hoodies</a></li>

    </ul>



   <ul class="about">
        <li class="free-shipping">Free shipping on orders over 990 sek, and free returns</li>
        
        <li><a href="#">Subcribe</a></li>
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Customer Service</a></li>
    </ul>

    <ul class="sign-in">
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Shipping to: Worldwide</a></li>

    </ul>
    
</nav>
<div class="cover">
</div>