<div class="toggle">
    <button type="button" class="hambutton"><i class="fas fa-bars fa-2x menu" aria-hidden="true"></i></button>
</div>
<nav>
    <div class="search">
        <i class="fas fa-search fa-lg"></i><input type="text" class="inputsearch">
    </div>
    <hr>
    <ul>
        <li><a href="#">Women</a>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Crewnecks</a></li>
        <li><a href="#">Hoddie</a></li>
        </li>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Crewnecks</a></li>
        <li><a href="#">Hoddie</a></li>

        <li><a href="#">Men</a></li>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Crewnecks</a></li>
        <li><a href="#">Hoddie</a></li>
    </ul>
    <hr>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Subcribe</a></li>
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Shipping to: Worldwide</a></li>

    </ul>

</nav>